@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'material-icons/iconfont/material-icons.css';

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

@include mat.core();

$fretty-primary: mat.define-palette(mat.$teal-palette, 600);
$fretty-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);

$fretty-warn: mat.define-palette(mat.$red-palette);

$fretty-theme: mat.define-light-theme(
  (
    color: (
      primary: $fretty-primary,
      accent: $fretty-accent,
      warn: $fretty-warn,
    ),
  )
);

@include mat.core-theme($fretty-theme);
@include mat.toolbar-theme($fretty-theme);
@include mat.dialog-theme($fretty-theme);

@layer components {
  .settings-dialog > mat-dialog-container {
    @apply bg-zinc-700;
  }
}
