@use '@angular/material' as mat;
@import '@angular/material/theming';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'material-icons/iconfont/filled.css';

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

$fretty-background-color: rgb(63 63 70);

@include mat.core();

$fretty-primary: mat.define-palette(mat.$teal-palette, 500);
$fretty-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);

$fretty-warn: mat.define-palette(mat.$red-palette);

$fretty-theme: mat.define-dark-theme(
  (
    color: (
      primary: $fretty-primary,
      accent: $fretty-accent,
      warn: $fretty-warn,
    ),
  )
);

$palette-color: map-get($fretty-theme, color);
$background: map-get($palette-color, background);
$background: map_merge(
  $background,
  (
    background: $fretty-background-color,
  )
);
$palette-color: map_merge(
  $palette-color,
  (
    background: $background,
  )
);
$fretty-theme: map_merge(
  $fretty-theme,
  (
    color: $palette-color,
  )
);

@include mat.core-theme($fretty-theme);
@include mat.toolbar-theme($fretty-theme);
@include mat.dialog-theme($fretty-theme);
@include mat.select-theme($fretty-theme);
@include mat.form-field-theme($fretty-theme);
@include mat.slider-theme($fretty-theme);
@include mat.slide-toggle-theme($fretty-theme);
@include mat.button-theme($fretty-theme);
@include mat.button-toggle-theme($fretty-theme);

@mixin mix-fretty-theme($fretty-theme) {
  $primary: map-get($fretty-theme, primary);
  $accent: map-get($fretty-theme, accent);

  .mat-button-toggle {
    background-color: $fretty-background-color;
    color: mat-color($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
}

@include mix-fretty-theme($fretty-theme);

@layer components {
  .fretty-dialog > mat-dialog-container {
    @apply bg-zinc-700;
  }
}

.mat-expansion-panel-header {
  padding: 0 2px 0 0 !important;
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}
