<button mat-icon-button class="close-button float-right text-zinc-100" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div mat-dialog-title class="font-sans font-bold text-3xl text-zinc-100 text-center">About</div>

<mat-dialog-content class="font-sans text-base">
  <div>
    Have feedback? Send a mail to <a class="text-emerald-600" href="mailto:feedback@fretty.de">feedback@fretty.de</a>
  </div>
  <div class="mt-4">
    This page is hosted with <a class="text-emerald-600" href="https://pages.github.com/">github pages</a>
  </div>
  <div class="mt-4">
    fretty is open source. Check source code on
    <a class="text-emerald-600" href="https://github.com/schmittl/fretty">github</a>
  </div>
  <div class="mt-4">
    fretty uses open source software and components:
    <mat-expansion-panel class="mt-2">
      <mat-expansion-panel-header class="font-sans text-base">
        <mat-panel-title><span class="text-sm">Show third party licenses</span></mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mt-4 text-sm whitespace-pre-wrap">{{ licenses | async }}</div>
    </mat-expansion-panel>
  </div>
</mat-dialog-content>
