<svg width="100%" height="60vh" [attr.viewBox]="viewBox()" class="mt-10" xmlns="http://www.w3.org/2000/svg">
  <g
    *ngFor="let string of fretboard.notes; let row = index; let firstRow = first; let lastRow = last"
    [attr.transform]="transformY(row)"
  >
    <line
      attr.x1="{{ noteSpace - notePadding - 7.5 }}"
      attr.y1="{{ noteSize }}"
      attr.x2="{{ noteSpace * string.length - notePadding + 2.5 }}"
      attr.y2="{{ noteSize }}"
      class="stroke-stone-800"
      attr.stroke-width="{{ 5 }}"
    />
    <g
      *ngFor="let note of string; let column = index; let firstColumn = first; let odd = odd"
      [attr.transform]="transformX(column)"
    >
      <line
        *ngIf="!lastRow"
        attr.x1="{{ noteSpace - notePadding }}"
        attr.y1="{{ noteSize }}"
        attr.x2="{{ noteSpace - notePadding }}"
        attr.y2="{{ noteSpace + noteSize }}"
        class="stroke-stone-800"
        attr.stroke-width="{{ firstColumn ? 15 : 5 }}"
      />
      <circle
        *ngIf="row === 3 && [3, 5, 7, 9, 12].includes(column)"
        attr.cx="{{ noteSize }}"
        attr.cy="{{ -notePadding }}"
        attr.r="{{ notePadding }}"
        class="fill-stone-800"
      />

      <g
        class="cursor-pointer"
        [class.invisible]="!note.inScale"
        [ngClass]="{
          'fill-emerald-700 hover:fill-emerald-600': note.isTonic,
          'fill-cyan-700 hover:fill-cyan-600': !note.isTonic
        }"
        fretty-fretboard-note
        [note]="note.pitchclass"
        [size]="noteSize"
      ></g>
    </g>
  </g>
</svg>
