<mat-toolbar color="primary" class="justify-center">
  <span class="font-sans font-bold text-4xl text-zinc-100 ml-auto">fretty</span>

  <div class="flex ml-auto">
    <button mat-icon-button class="hidden md:block print:invisible" (click)="openHotkeys()">
      <mat-icon class="scale-150 align-middle">keyboard</mat-icon>
    </button>

    <button mat-icon-button class="md:ml-8 print:invisible" (click)="openSettings()">
      <mat-icon class="scale-150 align-middle">settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
