<div class="flex items-center justify-center md:text-lg">
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Scale</mat-label>
      <mat-select
        [ngModel]="selectedScale"
        (ngModelChange)="onScaleChanged($event)"
        panelClass="bg-zinc-200 dark:bg-zinc-700 max-w-fit"
        [disableOptionCentering]="true"
      >
        <mat-option *ngFor="let scale of scales" [value]="scale">
          {{ scale }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="ml-2">
    <mat-form-field appearance="outline" color="accent" class="w-20">
      <mat-label>Key</mat-label>
      <mat-select
        [ngModel]="selectedKey"
        (ngModelChange)="onKeyChanged($event)"
        panelClass="bg-zinc-200 dark:bg-zinc-700"
        [disableOptionCentering]="true"
      >
        <mat-option *ngFor="let key of keys" [value]="key">
          {{ key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
