<div class="flex items-center justify-center md:text-lg">
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Scale</mat-label>
      <input matInput disabled [ngModel]="selectedScale" />
      <button matSuffix mat-icon-button (click)="onSearchClicked()" class="print:invisible">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="ml-2">
    <mat-form-field appearance="outline" color="accent" class="w-20">
      <mat-label>Key</mat-label>
      <mat-select
        [ngModel]="selectedKey"
        (ngModelChange)="onKeyChanged($event)"
        panelClass="bg-zinc-200 dark:bg-zinc-700"
        [disableOptionCentering]="true"
      >
        <mat-option *ngFor="let key of keys" [value]="key">
          {{ key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
