<div class="text-xl flex items-center justify-center">
  <div>
    <span class="text-zinc-700 dark:text-zinc-100">Scale</span>
    <select class="form-select block mt-2" [(ngModel)]="selectedScale">
      <option *ngFor="let scale of scales" [ngValue]="scale">{{ scale.name }}</option>
    </select>
  </div>
  <div class="ml-2">
    <span class="text-zinc-700 dark:text-zinc-100">Key</span>
    <select class="form-select block mt-2" [(ngModel)]="selectedKey">
      <option *ngFor="let key of keys" [ngValue]="key">{{ key }}</option>
    </select>
  </div>
</div>

<svg width="100%" height="60vh" viewBox="0 0 1080 540" xmlns="http://www.w3.org/2000/svg" class="mt-10">
  <g *ngFor="let string of fretboard.notes; let i = index" attr.transform="translate(0 {{ i * 90 }})">
    <g
      *ngFor="let note of string; let j = index"
      attr.transform="translate({{ j * 90 }})"
      class="fill-sky-700 hover:fill-teal-600 cursor-pointer"
      [class.invisible]="!showNote(note)"
      fretty-fretboard-note
      [note]="note"
    ></g>
  </g>
</svg>
