<button mat-icon-button class="close-button float-right text-zinc-100" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<div mat-dialog-title class="font-sans font-bold text-4xl text-zinc-100 text-center">Settings</div>
<mat-dialog-content>
  <div>
    <div class="flex justify-between font-semibold mx-2">
      <label>Frets</label>
      <label>{{ frets }}</label>
    </div>
    <mat-slider
      color="primary"
      class="w-full"
      [min]="1"
      [max]="24"
      [step]="1"
      [tickInterval]="1"
      [(ngModel)]="frets"
      (ngModelChange)="updateFrets($event)"
    ></mat-slider>
  </div>

  <div class="mx-2">
    <mat-slide-toggle color="primary" [ngModel]="showFretNumbers$ | async" (change)="updateFretNumbers($event)">
      Show fret numbers
    </mat-slide-toggle>
  </div>

  <div class="mt-4 mx-2">
    <div>
      <label class="font-semibold">Note labels</label>
    </div>
    <div class="mt-4">
      <mat-button-toggle-group multiple [value]="label" (change)="updateLabels($event)">
        <mat-button-toggle value="notes">Notes</mat-button-toggle>
        <mat-button-toggle value="intervals">Intervals</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</mat-dialog-content>
