<button mat-icon-button class="close-button float-right text-zinc-100" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<div mat-dialog-title class="font-sans font-bold text-3xl text-zinc-100 text-center">
  <span>Settings</span>
</div>
<mat-dialog-content class="font-sans">
  <div class="mt-4">
    <div class="flex justify-between font-semibold text-base mx-2">
      <label>Frets</label>
      <label>{{ frets }}</label>
    </div>
    <mat-slider
      id="frets-slider"
      color="primary"
      class="w-full"
      [min]="1"
      [max]="24"
      [step]="1"
      [tickInterval]="1"
      [(ngModel)]="frets"
      (ngModelChange)="updateFrets($event)"
    ></mat-slider>
  </div>

  <div class="mx-2">
    <mat-slide-toggle color="primary" [ngModel]="showFretNumbers | async" (change)="updateFretNumbers($event)">
      <span class="font-sans text-sm">Show fret numbers</span>
    </mat-slide-toggle>
  </div>

  <div class="mt-4 mx-2">
    <div class="font-semibold text-base">
      <label>Note labels</label>
    </div>
    <div class="mt-4">
      <mat-button-toggle-group multiple [value]="noteLabels | async" (change)="updateLabels($event)">
        <mat-button-toggle value="notes"><span class="text-sm">Notes</span></mat-button-toggle>
        <mat-button-toggle value="intervals"><span class="text-sm">Intervals</span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div class="mt-4 mx-2">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-sans font-semibold text-base">Setting infos</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="text-sm mt-4">
          All settings are only stored in the local storage of your browser and are attempted to be restored if the page
          is reloaded.
        </div>
        <div class="text-sm">If you delete your browser cache your custom settings will also be lost</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="mt-4 mx-2">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-sans font-semibold text-base">Restore default settings</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mt-4">
        <div class="text-sm">Click to restore default values for all settings</div>
        <div class="mt-4">
          <button mat-raised-button color="warn" (click)="restoreSettings()">
            <mat-icon>delete</mat-icon><span class="ml-2 font-sans">Restore</span>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</mat-dialog-content>
